.header{
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px;
}
.logo{
    display: flex;
    align-items: center;
    /* ajustando elementos !! */
    /* background-color: orange; */
}
.logo h1 {
    font-size: 2rem;
    font-weight: 800;
    margin-left: 5px;
}

.menu{
    /* background-color: aqua; */
    display: flex;
    align-items: center;
}
.menu li a {
    padding: 10px 5px;
    transition: 0.3 ease-in-out; 
    margin-left: 1.5rem;
    font-size: 1.5rem;
}
.menu li a:hover{
    background-color: var(--buton-color );
}

.menu li a.btn{
    /* no lugar de usar o button dentro de um form, ou pseudo classe , usou apenas uma classe btn */
    background-color: var(--buton-color);
    border-radius: 10px;
    color: #ffffff;
    margin-left: 3rem;
    padding: 10px 20px;
}